<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tailwind.css" />
</head>
<body class="max-w-screen-xl mx-auto flex flex-col">
    <div class="flex flex-row h-16 bg-green-100 px-2 items-center text-green-800">
        <span class="text-xl font-bold mr-5">Farm Shop</span>
        <a href="/Home/Index">
            <span class="font-semibold hover:bg-green-50 p-2 text-lg">
                Home
            </span>
        </a>

    </div>

    <div>
        @RenderBody()
    </div>

    <script src="~/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
