@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<p class=" mb-4 font-semibold text-2xl text-center text-green-600 mt-10">
    Най-доброто производство от на дядо ми градината!
</p>

<img src="~/img/gradinata.jpg" alt="Gradinata" class="max-w-3xl mx-auto"/>