@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<p class="font-semibold text-2xl text-center text-green-600 mt-10 my-auto">
    Най-доброто производство от на дядо ми градината!
</p>