@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<p class="font-bold text-lg">This is an ASP.NET Core project made as a course project for the discipline "Event Programming".</p>